html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#corpo {
    border: 3px solid black;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#topo {
    border: 3px solid black;
    border-radius: 16px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
}

#meio {
    display: flex;
    flex: 1;
    margin: 10px;
    gap: 10px;
}

#esquerda, #direita {
    border: 3px solid black;
    width: 20%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

#centro {
    border: 3px solid black;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 10px;
}

#rodape {
    border: 3px solid black;
    border-radius: 16px;
    margin: 10px;
    height: 50px;
}

#menu {
    background-color: black;
    border-radius: 16px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

#menu div {
    border: 3px solid white;
    border-radius: 16px;
    flex-grow: 1;
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao1, #botao2, #botao3, #botao4, #botao5 {
    border: 3px solid white;
    border-radius: 16px;
    flex-grow: 1;
    height: 45px;
    margin: 10px;
    width: 10%;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
