html, body {
    height: 100%;
  }
#corpo {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#meio{
    display: flex;
    flex: 1; 
}
#topo{
    border: 3px solid blue;
    width: auto;
    height: 150px;

}
#esquerda{
    border: 3px solid green;
    width: 20%;
    height: auto;
    margin-right: auto;
}
#direita{
    border: 3px solid pink;
    width: 20%;
    height: auto;
    margin-left: auto;
}
#centro{
    border: 3px solid yellow;
    height: auto;
    flex-grow: 1;

}
#rodape{
    border: 3px solid red;
    width: auto;
    height: 50px;
}

   
