html, body {
    height: 98%;
    background-color: skyblue;
}

#corpo {
    border: 3px solid black;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#topo {
    border: 3px solid black;
    border-radius: 16px;
    height: 12vh;
    min-height: 10%;
    margin: 10px;
    overflow: hidden;
}

#menu {
    background-color: black;
    border-radius: 16px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

#menu div {
    border: 3px solid skyblue;
    border-radius: 16px;
    flex-grow: 1;
    height: 45px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#menu div:hover {
    background-color: skyblue;
}

.botao-link {
    color: skyblue;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 16px;
}

#menu div:hover .botao-link {
    color: black; 
}

#meio {
    display: flex;
    flex: 1;
    margin: 10px;
    gap: 10px;
    min-height: 40vh;
}

#esquerda,
#direita {
    flex: 0 0 15%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid black;
}

#centro {
    flex: 1;
    height: auto;
    overflow: hidden;
    border-radius: 16px;
    border: 3px solid black;
}

#rodape {
    border: 3px solid black;
    border-radius: 16px;
    margin: 10px;
    height: 8vh;
    min-height: 8px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
